/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v12-latin_cyrillic-regular.eot'); 
  src: local(''),
       url('./assets/fonts/inter-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
       url('./assets/fonts/inter-v12-latin_cyrillic-regular.woff') format('woff'),
       url('./assets/fonts/inter-v12-latin_cyrillic-regular.ttf') format('truetype'),
       url('./assets/fonts/inter-v12-latin_cyrillic-regular.svg#Inter') format('svg');
}
/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin_cyrillic-700.eot');
  src: local(''),
       url('./assets/fonts/inter-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/inter-v12-latin_cyrillic-700.woff2') format('woff2'),
       url('./assets/fonts/inter-v12-latin_cyrillic-700.woff') format('woff'),
       url('./assets/fonts/inter-v12-latin_cyrillic-700.ttf') format('truetype'),
       url('./assets/fonts/inter-v12-latin_cyrillic-700.svg#Inter') format('svg');
}
/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.eot'); 
  src: local(''),
       url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.woff2') format('woff2'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.woff') format('woff'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.ttf') format('truetype'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-regular.svg#Merriweather') format('svg'); }
/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/merriweather-v30-latin_cyrillic-700.eot'); 
  src: local(''),
       url('./assets/fonts/merriweather-v30-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-700.woff2') format('woff2'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-700.woff') format('woff'), 
       url('./assets/fonts/merriweather-v30-latin_cyrillic-700.ttf') format('truetype'),  
       url('./assets/fonts/merriweather-v30-latin_cyrillic-700.svg#Merriweather') format('svg'); }
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header-container {
  background: url('./assets/images/bg.jpg') no-repeat;
  background-position: center 0;
  display: flex;
  align-items: center;
}
.nav {
  font: 400 normal 20px Inter;
  padding: 0 20px;
  list-style: none;
  display: inline;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.menu {
  margin-left: auto;
}
.logo {
  width: 50px;
  height: 50px;
}
.header-lang {
  font: 700 normal 20px Inter;
}